@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2,h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}